//* Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

//* Basics
@import 'basics/normalize';
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

//* Views
@import 'views/home';
@import 'views/challenges';

//* Components
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/challenges/challenge-1/animal-list';
@import 'cmps/challenges/challenge-2/season-clock';
@import 'cmps/challenges/challenge-3/count-down';
@import 'cmps/challenges/challenge-4/mouse-monitor';
@import 'cmps/nice-button';

.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    width: 100%;
  }

  > footer {
    background-color: #111;
    color: white;
  }
}

.clock {
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  padding: 50px;
  position: relative;
  h1 {
    font-weight: 700;
    font-size: 1.5em;
  }

  button {
    font-size: 1.5em;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
