.app-header {
  background-color: $primary-color-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  //   padding-left: 165px;
  //   padding-right: 165px;
  &-logo {
    color: $primary-color-3;
    padding-right: 40px;
  }
  &-main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    & a {
      @include body-1;
      color: $primary-color-3;
    }
  }
  &-back-btn {
    @include body-1;
    color: $primary-color-3;
  }
}
