.challenge-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 18px;
  padding-bottom: 40px;
  & h1 {
    text-align: center;
    @include h2;
    color: $primary-color-3;
  }

  &-article {
    color: $primary-color-3;
  }
}
